.form .mat-form-field{
  width:100%;
}

.card-login{
  padding:20px;
  background-color: #2E22AC;
  border-radius: 20px;
}

.alert {
  font-size: 20px;
  font-weight: bold;
  color: #ff0707;
  padding: 30px;
  text-align: center;
}
