<div class="container">
  <mat-card class="card-login">
    <mat-card-title>Login</mat-card-title><br>
    
    <form [formGroup]="loginForm" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email"/>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" type="password" formControlName="password"/>
      </mat-form-field>
    </form>
      
    <button mat-raised-button color="primary" (click)="login()" appHoverButton> Login </button>
  </mat-card>
</div>

<div class="alert alert-danger" [hidden]="!error">{{error}}</div>
 
