
<div class="container">

    <mat-card-title> {{title}} </mat-card-title>

    <form [formGroup]="artistForm" class="form">
  
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName"/>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName"/>
      </mat-form-field>
  
    </form>
    
    <button mat-raised-button color="primary" (click)="!data.artist?add():edit()" appHoverButton> Save </button>
</div> 
  